header{
        background; rgb (0 ,  153  ,255);
 }
        h1 {
        display; inline;
        }

 nav li {
        display; inline
 }

 #logo {
       width ;250px;
 }

 nav  {
      display: inline-block;
 }
  margin-left:15px;
nav li{
       display: inline;

}

 nav a {
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    font-size:22px;
    text-decoration:none;
 }